{{!< default}}

<main id="gh-main" class="gh-main gh-canvas">
    <section class="gh-pagehead">
        <header class="gh-pagehead-content">
            <h1 class="gh-pagehead-title">Archive</h1>

            <div class="gh-pagehead-description">
                {{#if description}}
                    {{description}}
                {{else}}
                    Browse the complete archive of {{plural pagination.total empty="0 posts" singular="% post" plural="% posts"}}
                {{/if}}
            </div>
        </header>
    </section>

    <section class="gh-section">
       <div class="gh-feed">
            {{#get "posts" limit="all"}}
                {{#foreach posts}}
                    {{> loop-archive}}
                {{/foreach}}
            {{/get}}
        </div>
    </section>
</main>