{{!< default}}

<main id="gh-main" class="gh-main">
    {{#foreach posts limit="10"}}
        <article class="gh-article {{post_class}}">
            {{> content}}
        </article>
        {{#if @last}}
            {{! Ignore }}
        {{else}}
            {{! Spacer after each post except the last one }}
            <hr />
        {{/if}}
    {{/foreach}}
</main>