{{!< default}}

<main id="gh-main" class="gh-main">
    {{#foreach posts limit="10"}}
        <article class="gh-article {{post_class}}">
            {{> content-home}}
            {{#if @last}}
                <footer class="gh-article-footer">
                    <nav class="gh-navigation">                
                        <a href="/archive"><span>Browse</span> all posts</a>
                    </nav>
                </footer>
            {{else}}
                {{! Spacer after each post except the last one }}
                <div class="homepage-post-separator">&bull;</div>
            {{/if}}
        </article>
    {{/foreach}}
</main>